@import "src/tokens";
@import "src/blockquote";
@import "src/code";
@import "src/headings";
@import "src/inline";
@import "src/lists";
@import "src/tables";
@import "src/paragraphs";

.mdscss {
  // Headings
  h1 { @include h1; }
  h2 { @include h2; }
  h3 { @include h3; }
  h4 { @include h4; }
  // Inline elements
  strong { @include strong; }
  em { @include em; }
  small { @include small; }
  code { @include code; }
  // Lists
  li { @include li; }
  // Other block elements
  p { @include p; }
  blockquote { @include blockquote; }
  pre { @include pre; }

  // Base
  font-size: $md-font-size-base;
  font-family: $md-font-family-sans-serif;

  // Rhythm

  * + * {
    margin-top: 1.5rem;
  }

  li + li {
    margin-top: 0;
  }
}
