$md-color-grey-50: #f8f8f8 !default;
$md-color-grey-100: #ddd !default;

// Font stacks from http://tachyons.io/
$md-font-family-sans-serif: -apple-system,
  system-ui,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Helvetica Neue",
  Arial,
  sans-serif !default;
$md-font-family-serif: georgia,
  times,
  serif !default;
$md-font-family-monospace: Consolas,
  monaco,
  monospace !default;

// 2:3 "Perfect Fifth" type scale
// http://www.modularscale.com/?1&em&1.5&web&text
$md-font-size-base: 1rem !default;
$md-font-size-sm: .667em !default;
$md-font-size-md: 1.5em !default;
$md-font-size-lg: 2.25em !default;
$md-font-size-xl: 3.375em !default;

$md-font-weight-bold: bold !default;
$md-font-style-italic: italic !default;
